{% extends 'layouts/portal_layout.html' %}
{% block bill %}
    active
{% endblock %}
{% block page_title %}
    {{ object.patient.full_name }} - {{ object.get_bill_type_display }}
{% endblock %}
{% block title %}
    {{ object.patient.full_name }} - {{ object.get_bill_type_display }}
{% endblock %}
{% block btn %}
    {% if object.status == 1 %}
        <a href="" class="btn btn-sm btn-info">
            <i class="fa fa-print"></i> Print
        </a>
    {% endif %}

{% endblock %}
{% block content %}
    <div class="row">
        {% if object.bill_type == 'WB' %}
            <div class="col-8">
                <div class="list-group-flush">
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">Date Admitted</div>
                            <div class="col" align="right">{{ object.patient.date_admitted }}</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">{% if object.status == 1 %}Date Discharged{% else %}Date To Be Discharged{% endif %}</div>
                            <div class="col" align="right">{% if object.status == 1 %}{{ object.patient.date_discharged }}{% else %}{{ date_to_be_discharged }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">Number of Days</div>
                            <div class="col" align="right">{% if object.status == 1 %}{{ days_spent }}{% else %}{{ number_of_days }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">Amount Per Day</div>
                            <div class="col" align="right">GHS {{ amount_per_day }}</div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">{% if object.status == 1 %}Amount Paid{% else %}Total Amount To be Paid{% endif %}</div>
                            <div class="col" align="right">GHS {% if object.status == 1 %}{{ object.amount }}{% else %}{{ total_amount }}{% endif %}</div>
                        </div>
                    </div>
                </div>
                {% if object.status == 0 %}
                    <a href="{% url 'portal:confirm-discharge' object.uuid %}" class="btn btn-sm btn-block btn-info">Confirm Payment</a>
                {% endif %}

            </div>
        {% else %}
            <div class="col-8">
                <div class="list-group-flush">
                    {% for med in object.prescription.medicines.all %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col">{{ med.medicine.name }}</div>
                            <div class="col" align="right">GHS {{ med.amount }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col font-weight-bolder">Total</div>
                            <div class="col font-weight-bolder" align="right">GHS {{ object.prescription.total }}</div>
                        </div>

                    </div>
                </div>
            {% if object.status == 0 %}
                <a href="{% url 'portal:confirm-prescription' object.uuid %}" class="btn btn-sm btn-success">Confirm Payment</a>
            {% endif %}
            </div>
        {% endif %}

        {% if object.status == 1 %}
            <div class="col-4">
                <div class="card card-body">
                    <div class="card-title h3">Ai Hosptial</div>
                    <small>WL 63/1 Evalip - Kasoa</small>
                    <small>0546730658</small>
                    <small>info@aihospital.com</small>
                    {% if object.bill_type == 'PhB' %}
                        <table class="table table-sm table-bordered mt-4">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Amount (GHS)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for med in object.prescription.medicines.all %}
                                <tr>
                                    <td>{{ med.medicine.name }}</td>
                                    <td>{{ med.amount }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th>Total</th>
                                <th>GHS {{ object.prescription.total }}</th>
                            </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <table class="mt-4 table table-sm table-bordered">
                            <thead class="bg-info text-black-50">
                            <tr>
                                <th>Item</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Patient ID</td>
                                <td>{{ object.patient.patient_id }}</td>
                            </tr>
                            <tr>
                                <td>Full Name</td>
                                <td>{{ object.patient.full_name }}</td>
                            </tr>
                            <tr>
                                <td>Date Admitted</td>
                                <td>{{ object.patient.date_admitted }}</td>
                            </tr>
                            <tr>
                                <td>Date Discharged</td>
                                <td>{{ object.patient.date_discharged }}</td>
                            </tr>
                            <tr>
                                <td>No fo Days</td>
                                <td>{{ object.number_of_days }}</td>
                            </tr>
                            <tr>
                                <td>Amount Per Day</td>
                                <td>GHS {{ amount_per_day }}</td>
                            </tr>
                            <tr>
                                <td>Total Amount</td>
                                <td>GHS {{ object.amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}


                    <p><small>This receipt was issued on {{ object.created_at }} by {{ object.created_by.full_name }}</small></p>
                </div>

            </div>
        {% endif %}
    </div>
{% endblock %}